<%= render "search" %>
<h1> Chad Rocks </h1>

<% @posts.each do |post| %>
    <section class="event">
        <div class="summary">
            <h2><%= link_to post.title, post_path(post)%></h2>
            <p>
                <%= truncate(post.content, length: 35, seperator: ' ') %>
            </p>
            <h3><%= post.user_handle %></h3>
        </div>
    </section>
<% end %>
<section>
        <%= link_to "Create New Post", new_post_path%>
</section>